NEXT_PUBLIC_DEFAULT_ADMIN_USERNAME=superadmin
NEXT_PUBLIC_DEFAULT_ADMIN_PASSWORD=admin123
NEXT_PUBLIC_DEFAULT_ADMIN_EMAIL=admin@shipyard.local

# PostgreSQL Database URL untuk Prisma
DATABASE_URL="postgresql://shipyard_user:shipyard_secret_password@localhost:5432/shipyard_db?schema=public"

# NextAuth Authentication
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your_very_secure_random_secret_here"
